@include tablet {
    .iconos-nosotros {
        @include grid(4, 2rem);
    }
}

.icono {
    text-align: center;
    img {
        height: 10rem;
    }
    h3 {
        text-transform: uppercase;
    }
}
